body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(28, 29, 30);
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
}